//
   Created by Administrator on 2016/7/8.
extends ../layout
block content
  form(method='post', action='/file/upload', enctype='multipart/form-data')
    input(name='inputFile', type='file', multiple='mutiple')
    input(name='btnUp', type='submit',value='上传')